@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 25, 25, 25;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #FFFFFF;
}

.main-container {
  @apply max-w-[1440px] px-[20px] sm:px-[30px] md:px-[100px] mx-auto
}

.base-pad {
  @apply px-8 sm:px-10 md:px-20 lg:px-28
}


input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  border: 2px solid #69489d;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #9072c2;
  cursor: pointer;
  -webkit-appearance: none;
}